[Unit]
Description=OpenGFW

[Install]
WantedBy=network.target

[Service]
ExecStart=/root/opengfw/OpenGFW -c config.yml rules.yml
WorkingDirectory=/root/opengfw
